* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

.cont {
    width: 100%;
    overflow: hidden;
    display: inline-block;
    white-space: nowrap;
	background-color: rgb(150, 212, 250);
}

.primary {
	text-align: center;
	font-weight: bolder;
	font-size: small;
}

.secondary {
	text-align: center;
	font-weight: bold;
	font-size: x-small;
	font-style: italic;
}
